############################
# @author EliasDH Team     #
# @see https://eliasdh.com #
# @since 01/01/2025        #
############################
# Ignore default
.vscode
.venv
/scripts/aruba_monitor/aruba_monitor.spec
/scripts/aruba_monitor/build
/scripts/aruba_monitor/dist